<mat-card class="containerInfo">
    <mat-card-title>INFORMATION</mat-card-title>
    <div class="info">
        <mat-card-subtitle>Nom: {{infoUser.nom}}</mat-card-subtitle>
        <mat-card-subtitle>Prènom: {{infoUser.prenom}}</mat-card-subtitle>
        <mat-card-subtitle>Mail: {{infoUser.prenom}}</mat-card-subtitle>
        <mat-card-subtitle>Adresse: {{infoUser.prenom}}</mat-card-subtitle>
        <mat-card-subtitle>Téléphone: {{infoUser.prenom}}</mat-card-subtitle>
        <mat-card-subtitle>Ville: {{infoUser.prenom}}</mat-card-subtitle>
        <mat-card-subtitle>Code postale: {{infoUser.prenom}}</mat-card-subtitle>
    </div>
</mat-card>

