.corp{
    position: relative;
    min-height: 80vh;
}

.nav-button{
    text-align: left;
    margin-bottom: 1em;
}

.button-add{
    left: 1em;
}

.card-type-task{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contener-task{
    display:flex;
    flex-wrap: wrap;
}

.card-task{
    --text-align: center;
    height: 20vh;
    width: 176px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}